{% extends "base.html.twig" %}

{% block body %}
    {{include('flashcards/navbar.html.twig')}}

    <div class="d-flex flex-column align-items-center mt-4">
   <a class="btn btn-primary btn-lg m-3 card-btn" href="{{ path('cards_all') }}">Flashcards</a>
   <br>
   <a class="btn btn-primary btn-lg m-3 card-btn" href="{{ path('cards_add') }}">Add Flashcard</a>
    </div>
{% endblock %}
