{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="text-align: center;">Error</h1>

    <p style="text-align: center;">
        Error occured
        Error: 
        {{ statusCode }}
        misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}