{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="text-align: center;">Code 500 internal server error</h1>

    <p style="text-align: center;">
        internal server error
        misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}