{% extends 'base.html.twig' %}

{% block body %}
    <h1>error 403 Forbidden</h1>

    <p style="text-align: center;">
        Cannot access
        misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}