{% extends "base.html.twig" %}

{% block body %}
    {{ include('flashcards/navbar.html.twig') }}

    <div class="container mt-4">

        <h1 class="text-center">Flashcards</h1>
        <a class="btn btn-outline-info" href="{{ path('box_done') }}">Done</a>
        <div class="d-flex flex-column align-items-center mt-4"> 

              
            <a class="btn btn-primary btn-lg card-btn" href="{{ path('homepage') }}">Home</a>
            <a class="btn btn-primary btn-lg card-btn" href="{{ path('cards_add') }}">Add Flashcard</a>

        </div>
    </div>
{% endblock %}
